.toolkit {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    /* padding: .3rem; */
    color: rgb(80, 79, 79);
    background-color: #fcfcfd;
    border-bottom: 1px solid gainsboro;
}

.toolkitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    gap: .5rem;
    border-right: 1px solid gainsboro;
}
.fontResizing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gainsboro;
}
.fontMinus{
    border-right: 1px solid gainsboro;
    width: 1.5rem;
    font-weight: 800;
    
}
.fontNumber{
    border-right: 1px solid gainsboro;
    width: 3rem;
    font-weight: 800;
}
.fontPlus{
    width: 1.5rem;
    font-weight: 800;
}

.toolkitContainer h2 {
    font-size: 18px;
}

.fontsizecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.fontlist {
    background-color: rgb(255, 255, 255);
    margin-top: 11rem;
    z-index: 999;
    list-style: none;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}

.fontlist li {
    background-color: rgb(185, 138, 75);

    cursor: pointer;

}

.colorbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputbox {
    width: 15px;
    height: 15px;
}
.titlebarEditingBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1967d2;
    background: transparent;
    background-color: #e8f0fe;
    border-radius: .3rem;
    text-transform: capitalize;
    padding: 5px 5px 5px 5px;
    gap: .5rem;
    font-weight: 600;
}
.lockIconEditing {
    /* font-size: small !important; */
    color: #1967d2 !important;
    font-weight: 600 !important;
    background-color: #e8f0fe;
}