
.inputField {
    flex: 6;
    width: 100%;
    background-color: white;
    height: 120vh;
    border: none;
    padding: 5rem;
    outline: none;
    overflow-y: scroll;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 50px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px  4px, rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.inputField::-webkit-scrollbar {
    display: none;
}





@media print{
    body{
        background: none;
    }
    .inputField{
        width: 6.5;
        height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
    }
}