
.inputField {
    flex: 5;
    width: 100%;
    background-color: white;
    height: 120vh;
    border: none;
    padding: 5rem;
    outline: none;
    overflow-y: scroll;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 50px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.inputField::-webkit-scrollbar {
    display: none;
}


