.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: rgb(80, 79, 79);
    background-color: #fcfcfd;
    padding: .2rem;
    border-bottom: 1px solid gainsboro;
}

.topbarLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.topbarUntitled {
    display: flex;
    flex-direction: column;
}

.topbarLeftIcons {
    display: flex;
    gap: .7rem;
    align-items: center;
}

.topbarLeftIcons h3 {
    font-size: large;
    font-weight: lighter;
    margin-right: .5rem;
}

.topbarMenu {
    display: flex;
    gap: 1rem;
    font-weight: 500;
    font-size: large;
}
.topbarMenu>span{
    font-size: small;
}
.docImage {
    width: 5vh;
    margin-left: 1.5rem;
}

.topbarRight {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 3rem;

}

.topbarRightBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1a73e8;
    border-radius: .3rem;
    text-transform: capitalize;
    padding: 6px 16px 6px 10px;
    gap: .5rem;
    font-weight: 600;
}

.lockIconShare {
    font-size: small !important;
    color: white !important;
    font-weight: 600 !important;
    background-color: #1a73e8;
}